h3 {
    color: white;
    background-color: green;
}

#tieude-1 {
    color: white;
    background-color: red;
}

#tieude-2 {
    color: white;
    background-color: black;
}
div.Web4{color: yellow;background-color: black;}